.body-back{
    background-image: url('../images/back3.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    height: 100%;
    background-size:100%;
         }
hr{
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}
h1{
    color: #2f4eff;
}
h3{
    color: rgb(50, 47, 255);
}
